.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.img__icono{
    width: 20px;
    height: 20px;
}
.lista__cabecera{
    display: flex;
}

.item__cabecera{
    list-style: none;
    padding: 10px;

}

.link__cabercera{
    text-decoration: none;
    color:black;
}

.link__cabercera:hover{
    color: #93d8ff;
    cursor: pointer;
}


@media (max-width: 768px) {
    .cabecera{
        display: flex;
        justify-content: none;
        align-items: left;
        padding: 5px;
        
    }
    .img__icono{
        width: 15px;
        height: 15px;
    }
    .lista__cabecera{
        display: flex;
    }
    
    .item__cabecera{
        list-style: none;
        padding: none;
    
    }
    
    .link__cabercera{
        text-decoration: none;
        color:black;
    }
    
    .link__cabercera:hover{
        color: #93d8ff;
        cursor: pointer;
    }
    
}


@media (max-width: 480px) {
    .cabecera{
        display: flex;
        justify-content: none;
        align-items: left;
        padding: 2px;
        
    }
    .img__icono{
        display: none;
    }
    .lista__cabecera{
        display: flex;
    }
    
    .item__cabecera{
        list-style: none;
        padding: none;
    
    }
    
    .link__cabercera{
        text-decoration: none;
        color:black;
    }
    
    .link__cabercera:hover{
        color: #93d8ff;
        cursor: pointer;
    }
    
}