
body{
  /*  position: absolute;
 padding-left: 70px;
   padding-right: 70px;*/
   width: 100%;
   margin: 0 auto;
  
   font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
   
}
.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: inherit;
}

/*colores
.color1 { #0578c5 }; +oscuro
.color2 { #2990d4 };
.color3 { #4ca8e2 };
.color4 { #70c0f1 };
.color5 { #93d8ff }; +claro


*/

@media (max-width: 768px) {
    body{
        
        width: 100%;
        margin: 0 auto;
        font-family: 'Inter', sans-serif;
         font-family: 'Raleway', sans-serif;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: inherit;
}
}
