body{
    position: absolute;
   padding-left: 70px;
   padding-right: 70px;
   margin: auto;
   align-items: center;
   font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
   
}

/*colores
.color1 { #0578c5 }; +oscuro
.color2 { #2990d4 };
.color3 { #4ca8e2 };
.color4 { #70c0f1 };
.color5 { #93d8ff }; +claro


*/