.hobbies__titulo{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.hobbies__lista{
    list-style: none;
    display: flex;
    justify-content: center;
}

.hobbies__items{
    margin: 30px;
    padding: 30px;
    text-align: center;
}

.iconos-hobbies{
    display: block;
    margin: 10px;
    font-size: 40px;
    color: #2990d4 ;
}